.form-container{
    margin-top: 50px;
    background: #4caf500a;
    padding: 4%;
    border-radius: 5px;
    text-align: left;
    color: #8e8e8e;
}

.fillBtn{
    width:100%;
    background: #51c871;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
    padding: 10px;
    color: #ffffff;
}

.fillBtn:disabled,
.fillBtn:disabled:hover{
    background: #adb5af;
}

.fillBtn:hover{
    background: #4db168;
}

.inputBox{
    background: #eff5ef;
    border: 1px solid #e4e4e4;
    border-radius: 25px;
    padding: 10px;
    color: #8e8e8e;
}

.inputBox:focus,
.fillBtn:focus{
    outline: none;
}
