.tile {
  margin-bottom: 1.5rem;
  text-align: center;
}

.section-name {
  border-radius: 33px;
  display: block;
  background: #51c871;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 2px 4px 0 darkcyan;
}

.section-name:hover {
  background: #4db168;
  cursor: pointer;
  color: #fff;
}

@media (min-width: 940px) {
  .section-name {
    font-size: 1.4rem;
  }
}
